@model IEnumerable<MyProj.Models.Book>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>


<table class="table" style="margin-top:60px">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model) {
    <tr>
      <td>@item.Id</td>
      <td>@item.Title</td>
      <td>@item.Price</td>
      <td><a href="">Update</a><a style="margin-left:4px" href="">Delete</a></td>
    </tr>
    }
  </tbody>
</table>